<div id="main-container" class="container">
  <div class="columns is-centered">
    <div id="form-box" class="box column is-one-third">
      <h1>Password Generator</h1>
      <label for="length" class="label">Length</label>
      <input type="text" class="input" (input)="handleLengthChange($event.target.value)">
      <p *ngIf="invalidLength" style="color: red">Invalid length. Please, provide a number.</p>
      
      <div>
        <label class="checkbox">Use Letters
          <input type="checkbox" (change)="useLettersChange()"/>
        </label>
      </div>
      <div>
        <label class="checkbox">Use numbers
          <input type="checkbox" (change)="useNumbersChange()"/>
        </label>
      </div>
      <div>
        <label class="label" class="checkbox">Use symbols
          <input type="checkbox" (change)="useSymbolsChange()"/>
        </label>
      </div>
      
      <div id="button-box" class="is-centered">
        <button
          class="button is-primary"
          [disabled]="!useLetters && !useNumbers && !useSymbols || !passLength || invalidLength"
          (click)="onButtonClick()">
          Generate Password
        </button>
      </div>
      
      <div *ngIf="password.length > 0">
        <label class="label">Your password</label>
        <input class="input" readonly [value]="password" />
      </div>
    </div>
  </div>
</div>